In [1]:
# [1] print 0 to 20 by using range
for num in range(0,20) :
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# [2] print range 10 to 20
for num in range(10,20) :
    print(num)

10
11
12
13
14
15
16
17
18
19

In [3]:
# [3] Print number of items in the list by using 'len' function 
list = [10, 20, 14, 55, 43, 87, 76]
print("Number of items in the list  : " , len(list))

Number of items in the list  :  7

In [5]:
# [4] Get the string as Input and Print each character of that string 1 by 1
str = input("Enter the string : ")
strLen = len(str)
if(strLen>0) :
    for i in range(0,strLen) :
        print(str[i])

Enter the string :  Hope AI

H
o
p
e

A
I

In [7]:
# [5] Create a list with 3 string items and print each list item 1 by 1
personList = ["-Your Name-","-Your Age-","-Your Profession-"]
for listItem in personList :
    print(listItem)

-Your Name-
-Your Age-
-Your Profession-

In [9]:
# [6] Create a tuple collection with mixed datatypes and print the items
tupleCollection = (1, 'Welcome', 2, 'Hope')
print("Tuple with mixed datatypes :  " ,tupleCollection)

Tuple with mixed datatypes :   (1, 'Welcome', 2, 'Hope')

In [12]:
# [7] Create a tuple with nested tuples and print the items
numbersTuple = (0, 1, 2, 3)
stringTuple = ('python', 'HOPE')
nestedTuple = (numbersTuple,stringTuple)
print("Nested tuple items: ", nestedTuple)

Nested tuple items:  ((0, 1, 2, 3), ('python', 'HOPE'))

In [13]:
# [8] print Odd Numbers in the list
list = (20,10,16,19,25,1,276,188)
for num in list :
    if(num%2==1) :
        print(num, " is odd ")

19  is odd
25  is odd
1  is odd

In [14]:
# [9] print Even Numbers in the list
list = (20,10,16,19,25,1,276,188)
for num in list :
    if(num%2==0) :
        print(num, " is even ")

20  is even
10  is even
16  is even
276  is even
188  is even